.mat-drawer-container[fullscreen] {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}

.mat-drawer-container {
    //position: relative;
    z-index: 1;
    box-sizing: border-box;
    //-webkit-overflow-scrolling: touch;
    display: block;
    overflow: hidden;
}

.mat-drawer-container {
    //background-color: #fafafa;
    color: rgba(0,0,0,.87);
}

.mat-drawer-backdrop {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    display: block;
    z-index: 3;
    visibility: hidden;
}

.cdk-visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    outline: 0;
    -webkit-appearance: none;
    //-moz-appearance: none;
}

.mat-drawer.mat-drawer-side {
    z-index: 2;
}

mat-sidenav[_ngcontent-tyu-c5] {
    width: 250px;
}

.mat-drawer {
    position: relative;
    z-index: 4;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 3;
    outline: 0;
    box-sizing: border-box;
    overflow-y: auto;
    transform: translate3d(-100%,0,0);
}

.mat-drawer-side {
    border-right: 1px solid rgba(0,0,0,.12);
}

.mat-drawer {
    background-color: #fff;
    color: rgba(0,0,0,.87);
}