<pm-header></pm-header>
<pm-left-nav></pm-left-nav>
<pm-footer></pm-footer>

<!--div>Welcome to Poll Meter!</div>
    <mat-slider min="1" max="100" step="1" value="1"></mat-slider>

    <div class="alert alert-primary" role="alert">
        A simple primary alert—check it out!
    </div>
    <div class="alert alert-secondary" role="alert">
    A simple secondary alert—check it out!
    </div>
    <div class="alert alert-success" role="alert">
    A simple success alert—check it out!
    </div-->